<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">

<div class="col-md-8 m-auto p-t-30 " >

    <div class="p-all-25 bg-color bg-white table-bordered shadow--effect clr-black--translucent" style="border-color: silver" onclick="window.location='{{post.link}}'">
        {% if post.get_thumbnail %}
            <div class="text-center">
            <img src="{{post.thumbnail.src}}" />
            </div>
        {% endif %}
    <h2 class="h2 "><a href="{{post.link}}">{{post.title}}</a></h2>
    <p class="p-t-30">{{post.preview}}</p>



        <p class="p-t-30">Updated: {{ post.post_modified|time_ago }}</p>
        {% if post.can_edit %}
        <span ><a href="http://localhost/wordpress/wp-admin/post.php?post={{ post.id }}&action=edit">Edit</a></span>
        {% endif %}


    </div>

</div>



</article>